<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Vivez l'expérience de <span> la colocation</span> en toute simplicité </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Connectez-vous à notre site web et trouvez votre cohabitation idéale !</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a routerLink="/annonces" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center p-4">
                <span>Commencer ma recherche</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="../assets/avatars/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->